@font-face {
	font-family: 'freshman';
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	background: url("../images/background-tile.png") repeat;
	font-size: 40px;
	text-align: center;
	font-family: 'Gudea', sans-serif;
}

div {
	background-color: #ffffff;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background: url("../images/crowd.png") no-repeat center;
	background-size: 100% auto;
	min-width: 400px;
	position: relative;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 16rem;
}

.team {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 2rem;
}

a > img {
	width: 80%;
	margin-top: 1rem;
}

a {
	text-decoration: none;
	display: inline-block;
}

table {
	background: rgba(255,255,255,.8);
	border-radius: 10px;
	border: 3px solid #949599;
	margin: 0 1rem;
	padding: 0rem;
}

td > img {
	border-radius: 10px;
	border: 3px solid #949599;
	padding: 0;
	width: 80%;
}

p {
	padding: 1rem;
	font-size: 1.25rem;
	display: inline-block;
	margin: 0 3%;
}

footer {
	margin: 0;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 1rem;
}

nav {
	max-width: 700px;
	margin: 0 auto;
}

button {
	height: 130px;
	width: 215px;
	background: url("../images/football.png") no-repeat center;
	background-size: contain;
	font-family: 'freshman', serif;
	font-size: 1.5rem;
	letter-spacing: .15rem;
	border: none;
	margin: 0;
	color: rgba(255,255,255,.70);
}
button:hover {
	color: rgba(255,255,255,1)
}

@media all and (max-width: 480px) {
	div {
		min-width: 0;
		background: #ffffff;
		width: 100%;
	}
	h2 {
		margin-left: auto;
		margin-right: auto;
	}
	tr {
		display: block;
	}
	footer {
		bottom: 1rem;
	}
	nav {
		width: 100%;
		max-width: 230px;
	}
	button {
		background: #82562b;
		border: 2px solid #000000;
		border-radius: 5px;
		margin: 0 auto;
		padding: .5rem;
		width: 100%;
		height: 100%;
		font-size: 1.5rem;
		display: block;
	}
}