@font-face {
	font-family: 'freshman';
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	background: url("../images/background-tile.png") repeat;
	font-size: 40px;
	font-family: 'Gudea', sans-serif;
}

div {
	background-color: #ffffff;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background: url("../images/crowd.png") no-repeat center;
	background-size: 100% auto;
	min-width: 400px;
	position: relative;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 16rem;
}

.team {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 2rem;
}

img {
	width: 80%;
	margin-top: 1rem;
}

a {
	text-decoration: none;
	display: inline-block;
}

table {
	background: rgba(255,255,255,.8);
	border-radius: 10px;
	border: 3px solid #949599;
	margin: 0 1rem;
	padding: 0rem;
}

td > img {
	border-radius: 10px;
	border: 3px solid #949599;
}

p {
	padding: 1rem;
	font-size: 1.25rem;
	display: inline-block;
	text-align: center;
	margin: 0 3%;
}

footer {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	max-width: 700px;
}

button {
	height: 130px;
	width: 215px;
	background: url("../images/football.png") no-repeat center;
	background-size: contain;
	font-family: 'freshman', serif;
	font-size: 1.5rem;
	letter-spacing: .15rem;
	border: none;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
}